<!DOCTYPE html>
<html>
<head>
  <title>FactrApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body class="blue lighten-5">

    <nav class="blue darken-1">
    <div class="nav-wrapper">
      <a href='/' class="brand-logo">Trivial</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <% if !current_user %>
        <li><%= link_to 'Login', '/login' %></li>
        <li><%= link_to 'Register', '/users/new' %></li>
      <% else %>
        <li>Hello <%= current_user.username%>!
        <li><%= link_to "Logout", '/logout' %></li>
        <li><%= link_to "Add a fact!", '/facts/new' %></li>
      <% end %>

    </ul>
  </nav>
  <div class="container">
<%= yield %>
    </div>
  </div>
  <footer class="page-footer blue darken-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Trivial Details</h5>
                <ul class="grey-text text-lighten-4">
                  <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
                </ul>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Other amazing and totally practical things</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">wthrwzrd</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Sabrina Unrein
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
        </footer>
</body>
</html>
